@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=EB+Garamond:ital@0;1&display=swap');
body {
    margin-top: 120px;
    padding: 0;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 0;
}
html{
    background-image: url('./assets/animatedBackground.svg');
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 0;
    padding: 0;
    background-color: var(--penn-blue);
}
:root {
    --penn-blue: #0a1045ff;
    --robin-egg-blue: #00c2d1ff;
    --aureolin: #f9e900ff;
    --sandy-brown: #f6af65ff;
    --shocking-pink: #ed33b9ff;
}

p {
    color: white;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
button {
    width: 300px;
    height: 100px;
    background-color: var(--sandy-brown);
    color: var(--penn-blue);
    font-size: large;
    border-bottom-left-radius: 60%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 35%;
    box-shadow: var(--aureolin);
}
button:hover {
    background-color: var(--shocking-pink);
}
main img {
    width: 650px;
    -webkit-animation: rotate-center 4s ease-in-out infinite both;
	        animation: rotate-center 4s ease-in-out infinite both;
}
h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
    font-size: 50px;
    color: var(--sandy-brown);
    text-shadow: var(--penn-blue) 4px 0 3px;
}
h2 {
    color: var(--robin-egg-blue);
}
a {
    text-decoration: none;
}
.chris{
    color: white;
}
.chris:hover{
    color: var(--shocking-pink);
}
ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
li {
    font-size: 20px;
}
.logo{
    -webkit-animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.journey{
    display: grid;
    margin: 0 auto;
    text-shadow: var(--penn-blue) 3px 0 2px;
    -webkit-animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}




@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}
@keyframes slide-left {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}
@media (max-width: 950px){
    main {
        grid-template-columns: 1fr;
        
    }
    p {
        width: 500px;
    }
    .journey {
        display: grid;
        margin: 0 auto;
    }
}