/* My coolor palette */
:root {
    --penn-blue: #0a1045ff;
    --robin-egg-blue: #00c2d1ff;
    --aureolin: #f9e900ff;
    --sandy-brown: #f6af65ff;
    --shocking-pink: #ed33b9ff;
}

html {
    background-color: var(--penn-blue);
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
label{
    color: var(--aureolin);
}
.cmdb-logo {
    padding-left: 100px;
}

h1 {
    font-size: 40px;
    color: var(--shocking-pink);
    text-shadow: var(--sandy-brown) 5px 0 15px;
}

article {
    color: white;
}

.poster {
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    column-gap: 10px;
    row-gap: 2px;
    padding-left: 15px;
    padding-right: 15px ;
}

form {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.movie {
    border: 2px solid var(--shocking-pink);
    background-color: var(--robin-egg-blue);
    display: block;
    margin: 10px 0;
    text-align: center;
    border-radius: 3%;
    box-shadow: var(--sandy-brown) 5px 0 15px;
    color: var(--aureolin);
}